<div class="progetti">
  <div class="progetti-titolo">
    Progetti personali
  </div>
  <div class="progetti-descr">
    Questa è una collezione di progetti personali. Li ho sviluppati nel tempo libero, utilizzando come stack tecnologico Spring Boot, Angular e MySQL. <br>
    Con Elemental, per implementare il supporto alle chat, ho utilizzato anche MongoDB.
  </div>
  <div class="carosello">
    <div *ngFor="let carousel of carouselPerProject | keyvalue">
      <carousel-progetti [slides]="carousel.value"></carousel-progetti>
    </div>
  </div>

</div>
