.positionFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #caf0f8;
  justify-content: space-between;
  align-items: center;
}

.logo {  /* elemento 1 nel flex-container */
  margin-left: 0.5em;
}

.menu-flex { /* elemento 2 nel flex-container */
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: 2.5em;
  font-family: 'CheapPine';
}


.flex-item { /* item dentro menu-flex */
  margin: 0 0.5em 0 0.5em;
  transition: font-size 0.2s;
}

.flex-item:hover {
  font-size: 1.1em;
}


/* elemento 3 nel flex-container */
.voidElementForCenterMenu {
}

.hamburgerMenuDiv {
  display: none;
}

.menu-flex-mobile {
  display: none;
}

.mobileMenu {
  opacity: 0;
}

@media (max-width: 800px) {
  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    margin-top: 0.5em
  }

  .flex-container {
    flex-direction: column;
  }

  .hamburgerMenuDiv {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }

  .mobileMenu {
    opacity: 1;
  }

  .menu-flex-mobile {
    background-color: #caf0f8;
    display: flex;
    flex-direction: column;
    text-align: center;

    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: 2.5em;
    font-family: 'CheapPine';
  }

  .menu-flex {
    display: none;
  }
}
