.positionFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.flex-container {
  background-color: transparent;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {  /* elemento 1 nel flex-container */
  margin-left: 0.5em;
}


.imgLogo {
  max-width: 14em;
  height: auto;
}

.menu-flex { /* elemento 2 nel flex-container */
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: 1.2em;
  font-family: LeagueSpartan;
}


.flex-item { /* item dentro menu-flex */
  margin: 0.5em 0.7em 0.2em 0.7em;
  transition: font-size 0.2s;
}

.menu-item {
  text-decoration: none;
  color: #E9E9E9;
}

.active {
  color: var(--secondaryColor);
}

.menu-item:hover {
  color: var(--secondaryColor);
}

.flex-item:hover {
  font-size: 1.1em;
}


/* elemento 3 nel flex-container */
.voidElementForCenterMenu {
}

.hamburgerMenuDiv {
  display: none;
}

.menu-flex-mobile {
  display: none;
}

.mobileMenu {
  opacity: 0;
}

@media (max-width: 900px) {
  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    margin-top: 0.5em;
  }

  .flex-container {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hamburgerMenuDiv {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    cursor: pointer;
  }

  .mobileMenu {
    opacity: 1;
  }

  .menu-flex-mobile {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    text-align: center;

    list-style-type: none;
    margin: 0;
    padding: 0;

    font-family: 'LeagueSpartan';
    font-size: 1.2em;
  }

  .menu-flex {
    display: none;
  }
}
