<div class="positionFixed">
  <header class="flex-container">
    <div class="logo">
      <a routerLink="#">
        <img class="imgLogo" src="../../assets/def_logo_1.png" alt="">
      </a>
    </div>

    <div class="hamburgerMenuDiv" (click)="apriMenuMobile()">
      <img [src]="svgData" class="hamburgerMenuImg" alt="SVG Image">
    </div>

    <ul class="menu-flex">
      <li class="flex-item"><a class="menu-item" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="flex-item"><a class="menu-item" routerLink="/chi-sono" routerLinkActive="active">Chi sono</a></li>
      <li class="flex-item"><a class="menu-item" routerLink="/progetti" routerLinkActive="active">Progetti</a></li>
      <li class="flex-item"><a class="menu-item" routerLink="/contattami" routerLinkActive="active">Contattami</a></li>
    </ul>



  </header>

  <div class="mobileMenu">
    <ul class="menu-flex-mobile" *ngIf="this.isMobileMenuOpen" @fadeIn @fadeOut>
      <li class="flex-item"><a class="menu-item" routerLink="">Home</a></li>
      <li class="flex-item"><a class="menu-item" routerLink="">Chi sono</a></li>
      <li class="flex-item"><a class="menu-item" routerLink="">Progetti</a></li>
      <li class="flex-item"><a class="menu-item" routerLink="">Contattami</a></li>
    </ul>
  </div>

</div>
