<div class="chi-sono">
  <div class="dettagli"> <!-- col 1 -->
    <div class="titolo">Su di me</div>
    <div class="descrizione">
      <div class="descr-text">
        Finito il liceo nel 2022, ho seguito un periodo di formazione in un’azienda<br>
        di Benevento come <b>Back End Developer</b>, dove ho appreso e lavorato<br>
        con le più importanti tecnologie back-end, come <b>Spring Boot</b>, <b>Docker</b> e <b>Git</b>.
      </div>

      <div class="descr-text">
        Attualmente lavoro a Catania come <b>Full Stack Developer</b>. In questa posizione <br>
        ho applicato da un punto di vista pratico la mia conoscenza di <b>Angular</b>, <br>
        approfondendo varie tecnologie, come <b>NgRx</b> e <b>TypeScript</b>.
      </div>
    </div>

    <div class="socials">
      <div (click)="redirectToLinkedin()">
        <i class="fa-brands fa-linkedin link-social"></i>
      </div>

      <div (click)="redirectToGithub()">
        <i class="fa-brands fa-github link-social"></i>
      </div>
    </div>
  </div>

  <div class="competenze">
    <div class="titolo">Competenze</div>
    <div class="elenco-competenze">
      <app-card-skill
        nomeCard="Spring Boot"
        icon="fa-brands fa-java"
        [livelloCompetenza]='4'
      ></app-card-skill>
      <app-card-skill
        nomeCard="Angular"
        icon="fa-brands fa-angular"
        [livelloCompetenza]='3'></app-card-skill>
      <app-card-skill
        nomeCard="MySQL"
        icon="fa-solid fa-database"
        [livelloCompetenza]='4'></app-card-skill>
    </div>
  </div> <!-- col 2 -->
</div>
