b {
  color: var(--secondaryColor);
}

.chi-sono {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-image: url('../../assets/black.png'); /* Immagine di sfondo */
  background-repeat: no-repeat; /* Impedisci la ripetizione dell'immagine */
  background-size: cover; /* Adatta l'immagine alla dimensione del div */
  height: 100vh;

  color: white;
}

.dettagli {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  padding: 2em;
}

.titolo {
  width: fit-content;
  font-size: 3em;
  margin-bottom: 0.5em;
  font-family: 'CheapPineSans';
  color: var(--secondaryColor);
}

.descrizione {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.descr-text {
  width: fit-content;
  padding-bottom: 0.5em;
}

.competenze {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin-top: 0.5em;
}
