<div class="chi-sono">
  <div class="dettagli"> <!-- col 1 -->
    <div class="titolo">Chi Sono</div>
    <div class="descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Accusamus aliquam, assumenda, commodi consectetur consequuntur,
      <br> culpa deleniti dolores eveniet ex in ipsam iure nulla<br> odit perferendis ratione recusandae reprehenderit velit voluptatem!</div>

<!--    Nato a Siracusa, mi sono diplomato presso l'ITI Enrico Fermi in Informatica.-->

<!--    Successivamente, sono entrato nel mondo della consulenza informatica specializzandomi nella figura di Back-End Developer.-->

<!--    Il mio obiettivo, tuttavia, è di raggiungere le competenze di un Full Stack Developer.-->

<!--    Per ciò, ho esplorato anche Angular e, più in generale, ho approfondito HTML e CSS, andando così ad ampliare il mio stack di tecnologie.-->
  </div>

  <div class="competenze">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet!</div>
  </div> <!-- col 2 -->
</div>
