<div class="chi-sono">
  <div class="dettagli"> <!-- col 1 -->
    <div class="titolo">Su di me</div>
    <div class="descrizione">
      <div class="descr-text">
        Finito il liceo nel 2022, ho seguito un periodo di formazione in un’azienda<br>
        di Benevento come <b>Back End Developer</b>, dove ho appreso e lavorato<br>
        con le più importanti tecnologie back-end, come <b>Spring Boot</b>, <b>Docker</b> e <b>Git</b>.
      </div>

      <div class="descr-text">
        Attualmente lavoro a Catania come <b>Full Stack Developer</b>. In questa posizione <br>
        ho applicato da un punto di vista pratico la mia conoscenza di <b>Angular</b>, <br>
        approfondendo varie tecnologie, come <b>NgRx</b> e <b>TypeScript</b>.
      </div>
    </div>

<!--    Nato a Siracusa, mi sono diplomato presso l'ITI Enrico Fermi in Informatica.-->

<!--    Successivamente, sono entrato nel mondo della consulenza informatica specializzandomi nella figura di Back-End Developer.-->

<!--    Il mio obiettivo, tuttavia, è di raggiungere le competenze di un Full Stack Developer.-->

<!--    Per ciò, ho esplorato anche Angular e, più in generale, ho approfondito HTML e CSS, andando così ad ampliare il mio stack di tecnologie.-->
  </div>

  <div class="competenze">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet!</div>
  </div> <!-- col 2 -->
</div>
