.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 4em;*/
  font-family: 'CheapPineSans';

  height: 100vh;

  background-image: url('./assets/background0.jpg'); /* Immagine di sfondo */
  background-repeat: no-repeat; /* Impedisci la ripetizione dell'immagine */
  background-size: cover; /* Adatta l'immagine alla dimensione del div */
}

/*#background-image {*/
/*  z-index: -1;*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  object-fit: cover;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/

.immagineDettaglioProfilo {
  border-radius: 50%;
  width: 20em;
  height: 20em;
  align-self: center;
  object-fit: cover;   /*l'immagine mantiene le sue proporzioni e riempie la dimensione data.*/
}

.nome {
  display: inline;
  color: var(--secondaryColor);
}


.titolo {
  font-size: 3em;
  text-align: center;
  color: var(--accentColor);
}

.sottoTitolo {
  line-height: 1;
  font-size: 0.5em;
}


@media (max-width: 800px) {
  .titolo {
    font-size: 3em;
  }

  .immagineDettaglioProfilo {
    width: 15em;
    height: 15em;
  }

}
