<div class="home">

  <div class="scopriChiSono">
    Scopri il mio <br> background
  </div>

  <div class="dettaglioProfilo">
    <img class="immagineDettaglioProfilo" src="../../assets/pp.jpg" alt="">

    <div class="testoBenvenuto">
      <h1 style="line-height: 0.7;">Ciao! Sono <div class="nome">Simone Campisi</div>,</h1>
      un Junior Back-End Developer specializzato
      <div style="line-height: 0.2">
        <br> in sviluppo
      <div class="nome">Spring Boot</div> & <div class="nome">Angular</div>.
      </div>

    </div>

    <button class="buttonScopriChiSono">Scopri chi sono</button>
  </div>

</div>
