.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*margin-top: 4em;*/
  font-family: 'CheapPineSans';

  align-items: center;
  height: 100vh;
}

.scopriChiSono {
  display: flex;
  padding: 0.5em;
  border: 1px solid black;


  align-items: center;
  justify-content: center;
}

.dettaglioProfilo {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.immagineDettaglioProfilo {
  border-radius: 50%;
  width: 100%;
  height: 50%;
  align-self: center;
  object-fit: cover;   /*l'immagine mantiene le sue proporzioni e riempie la dimensione data.*/
}

.testoBenvenuto {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center;
}

.nome {
  display: inline;
  color: var(--secondaryColor);
}

.buttonScopriChiSono {
  margin-top: 1.5em;
  background-color: var(--secondaryColor);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: black;
  width: auto;
  padding: 0.5em;
  align-self: center;
}

.buttonScopriChiSono:hover {
  background-color: var(--accentColor);
  color: var(--secondaryColor);
  border: 1px solid black;
}

@media (max-width: 800px) {
  .home {
    flex-direction: column;
  }
  .scopriChiSono {
    justify-content: center;
  }

  .dettaglioProfilo {
    margin-top: 2em;
    justify-content: center;
  }

  .immagineDettaglioProfilo {
    width: 30%;
    height: 55%;
  }
}
