<div class="home">

  <div class="scopriChiSono">
    <div class="testoScopriPortfolio">
      <h1>Scopri i <div class="nome">progetti</div> che ho realizzato</h1>
      <button class="buttonScopriPortfolio">Guarda i progetti</button>
    </div>
  </div>

  <div class="dettaglioProfilo">
    <img class="immagineDettaglioProfilo" src="../../assets/pp.jpg" alt="">

    <div class="testoBenvenuto">
      <h1 style="line-height: 0.7;">Ciao! Sono <div class="nome">Simone Campisi</div>,</h1>
      un Junior Back-End Developer specializzato
      <div style="line-height: 0.2">
        <br> in sviluppo
      <div class="nome">Spring Boot</div> & <div class="nome">Angular</div>.
      </div>

    </div>
  </div>

</div>
