.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 4em;*/
  font-family: 'CheapPineSans';

  height: 95vh;
}

#background-image {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.immagineDettaglioProfilo {
  border-radius: 50%;
  width: 20%;
  height: 40%;
  align-self: center;
  object-fit: cover;   /*l'immagine mantiene le sue proporzioni e riempie la dimensione data.*/
}

.nome {
  display: inline;
  color: var(--secondaryColor);
}


.titolo {
  font-size: 5em;
  text-align: center;
  color: var(--accentColor);
}

.sottoTitolo {
  line-height: 1;
  font-size: 0.5em;
}


@media (max-width: 800px) {
  .titolo {
    font-size: 4em;
  }



  .immagineDettaglioProfilo {
    width: 60%;
  }
}
