/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'CheapPine';
  src: url('/assets/cheap_pine.otf');
}

@font-face {
  font-family: 'CheapPineSans';
  src: url('/assets/cheap_pine_sans.ttf');
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('/assets/league-spartan.otf');
}

:root {
  --primaryColor: #0D1821;
  --secondaryColor: #6985C0;
  --accentColor: white;
}
